<%- include('./partials/header') %>
<div class="container alert-success text-center pt-5 pb-5 mt-5 mb-5">
<h3 class="mb-2">Obrigada pela Mesagem <%= nome %></h3>
<p>Brevemente responderemos a sua mensagem no email <%= email %></p>
</div>
