<%- include('./partials/header') %>
<div class="container alert-success text-center pt-5 pb-5 mt-5 mb-5">
<h3 class="mb-2">Obrigada por assinar a nossa newsletter</h3>
<p>Você receberá as nossas novidades no email <%= emailNew %> semanalmente</p>
</div>
